<div class="px-4">
  <h2 class="page-title">
    <i class="fa fa-map"></i>
    <strong>Cambio de municipio solicitado por la persona con Discapacidad</strong>
  </h2>
  <div class="card">
    <div class="card-header">
      <div class="alert alert-primary col-md-12" role="alert">
        <strong>Espere a la fecha límite del plazo para descargar el reporte de las solicitudes realizadas:</strong>
      </div>
      <form ng-submit="$ctrl.descargar()">
        <div class="row">
          <div class="col-md-5"></div>
          <div class="">
            <button type="submit" class="btn btn-primary mx-0 float-right mt-4">
              <i class="fa fa-download mr-2" aria-hidden="true"></i>Descargar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>