.md-error-nit {
    color: crimson;
    font-size: 0.7rem;
    text-align: right;
    position: absolute;
    right: 0;
}

.md-input-warning {
    /*color: orange;*/
    color: crimson;
    font-size: 0.7rem;
    text-align: right;
    position: absolute;
    right: 0;
}