<div class="px-4">
  <h2 class="page-title">
    <i class="fa fa-list"></i>
    <strong>Listado SIPRUNPCD - IBC </strong>
  </h2>
  <div class="card">
    <div class="card-body">
      <button md-effect type="button" class="btn btn-outline-primary" ng-click="$ctrl.contrastar()" ng-if="$ctrl.rol=='MINISTERIO'">
        <i class="fa fa-exchange"></i> CONTRASTAR
      </button>
      <button class="btn btn-default float-right" md-effect type="button" ng-click="$ctrl.listar()" uib-tooltip="Actualizar tabla">
        <i class="fa fa-refresh"></i>
      </button>
      <form name="form">
        <div class="row py-3">
          <div class="col-sm-12 col-md-6 col-lg-3" ng-if="$ctrl.rol=='MINISTERIO'">
            <b-select name="tipos" label="Tipo" ng-model="$ctrl.tipo" options="$ctrl.tipos" field="tipo" placeholder="Seleccione Tipo"
              ng-required="false"></b-select>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-3" ng-if="$ctrl.rol=='SALUD' || $ctrl.rol=='IBC'">
            <b-select name="estados" label="Estado contrastación" ng-model="$ctrl.estado" options="$ctrl.estados" field="estado" placeholder="Seleccione opción"
              ng-required="false"></b-select>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-3">
              <b-input label="Nro. Documento" name="documento_identidad" ng-model="$ctrl.documento_identidad"></b-input>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-3">
            <button class="btn btn-primary mx-0 mt-4" type="button" ng-click="$ctrl.listar(form)" ng-disabled="form.$invalid">
              <i class="fa fa-search" aria-hidden="true"></i>
              Buscar
            </button>
          </div>
        </div>
      </form>
      <div class="table-responsive py-3">
        <table class="table table-striped table-bordered table-hover" ng-table="$ctrl.tableParams" style="text-align:center;">
          <thead>
            <tr>
              <td><strong>ACCIONES</strong></td>
              <td><strong>ESTADO CONTRASTACIÓN</strong></td>
              <td><strong>NRO. DOCUMENTO</strong></td>
              <td><strong>FECHA NACIMIENTO</strong></td>
              <td><strong>NOMBRES Y APELLIDOS</strong></td>
              <td><strong>FECHA VIGENCIA</strong></td>
              <td><strong>TIPO</strong></td>
              <td ng-if="$ctrl.rol!='IBC'"><strong>MUNICIPIO</strong></td>
              <td ng-if="$ctrl.rol!='IBC'"><strong>TIPO DISCAPACIDAD</strong></td>
              <td ng-if="$ctrl.rol!='IBC'"><strong>GRADO DISCAPACIDAD</strong></td>
              <td ng-if="$ctrl.rol!='IBC'"><strong>PORCENTAJE DISCAPACIDAD</strong></td>
              <td><strong>EXPEDIDO</strong></td>
              <td ng-if="$ctrl.rol!='IBC'"><strong>FORMATO INF.</strong></td>
              <td><strong>APELLIDO CASADA</strong></td>
              <td ng-if="$ctrl.rol!='IBC'"><strong>ESTADO CIVIL</strong></td>
              <td ng-if="$ctrl.rol!='IBC'"><strong>DIRECCION</strong></td>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="pcd in $data">
              <td>
                <a href="" uib-tooltip="Editar" ng-click="$ctrl.verEditar(pcd, true)"
                  ng-if="($ctrl.rol=='SALUD' || $ctrl.rol=='IBC') && pcd.estado_contrastacion === 'OBSERVADO'">
                  <i class="fa fa-edit fa-2x"></i>
                </a>
                <a href="" uib-tooltip="Modificar datos secundarios" ng-click="$ctrl.verEditar(pcd, false)"
                  ng-if="$ctrl.rol=='SALUD' && pcd.estado_contrastacion === 'HABILITADO'">
                  <i class="fa fa-edit fa-2x text-secondary"></i>
                </a>
              </td>
              <td>
                <span class="badge badge-success" ng-if="pcd.estado_contrastacion=='HABILITADO'">SIN OBSERVACIÓN</span>
                <span class="badge badge-danger" ng-if="pcd.estado_contrastacion=='OBSERVADO'">{{pcd.estado_contrastacion}}</span>
                <span class="badge badge-info" ng-if="pcd.estado_contrastacion=='PENDIENTE'">{{pcd.estado_contrastacion}}</span>
                <div ng-if="pcd.observacion_contrastacion"><small>{{pcd.observacion_contrastacion}}</small></div>
              </td>
              <td>{{pcd.documento_identidad}}<span ng-if="pcd.complemento_documento"> - {{pcd.complemento_documento}}</span></td>
              <td>{{pcd.fecha_nacimiento | date : "dd/MM/yyyy"}}</td>
              <td class="text-nowrap">{{pcd.nombres}} {{pcd.primer_apellido}} {{pcd.segundo_apellido}}</td>
              <td>{{pcd.fecha_vigencia | date : "dd/MM/yyyy"}}</td>
              <td>{{pcd.tipo}}</td>              
              <td ng-if="$ctrl.rol!='IBC'">{{pcd.codigo_municipio}}</td>
              <td ng-if="$ctrl.rol!='IBC'">{{pcd.tipo_discapacidad}}</td>
              <td ng-if="$ctrl.rol!='IBC'">{{pcd.grado_discapacidad}}</td>
              <td ng-if="$ctrl.rol!='IBC'">{{pcd.porcentaje_discapacidad}}</td>           
              <td class="text-nowrap">{{$ctrl.expedido(pcd.expedido)}}</td>
              <td ng-if="$ctrl.rol!='IBC'">{{pcd.formato_inf}}</td>
              <td>{{pcd.casada_apellido}}</td>              
              <td ng-if="$ctrl.rol!='IBC'">{{$ctrl.estadoCivil(pcd.estado_civil)}}</td>
              <td ng-if="$ctrl.rol!='IBC'" class="text-nowrap">{{pcd.direccion}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
