// .doc-identidad-tipo {
//     width: 180px;
// }
// .alert.alert-info.doc-identidad-cedula-info {
// 	display: inline-block;
//     font-size: 0.8rem;
//     padding: 6px 10px;
//     &.display {
//     	display: block;
//     }
// }
// .doc-identidad, .container-main .doc-identidad {
// 	margin: 0;
// }
.label_1{
    margin-top:8px; 
    margin-bottom: -50px;
    margin-left: 10px;
    font-size :  80%,
}
