<div class="login container">
    <div class="login-container" ng-if="!$ctrl.datos_prueba">
      <div class="login-form">
        <div class="login-logo">
          <div class="logo-probolivia"></div>
        </div>
        <div class="text-center text-primary font-weight-bold" style="font-size: 25px; margin-bottom:50px;">
          PLATAFORMA PLURINACIONAL DE INFORMACIÓN DE PERSONAS CON DISCAPACIDAD
          <br>"EUSTAQUIO MOTO MÉNDEZ"
        </div>
        <div class="container">
          <div class="row">
              <div class="col-md-3"></div>
            <div class="col-lg-6 col-md-6 card-element_2">
              <div class="card" style="height: 370px;">
                <div style="border-top: 5px solid #274461">
                  <h1 style="text-align:center; color:#274461; font-size: 18px;font-weight: bold; margin-bottom: 20px; margin-top: 15px;">
                    <i class="px-2 fa fa-building-o"></i>
                    ACTIVAR CUENTA
                  </h1>
                </div>
                <div class="card-body">
                  <form name="formLogin" ng-submit="$ctrl.registrarUsuario()">
                    <b-input type="email" name="correo" label="Re Ingrese su Correo Electrónico" ng-model="$ctrl.usuario.email" ng-required="true" icon="envelope-o"></b-input>
                    <b-input name="contrasena" label="Contraseña" ng-model="$ctrl.usuario.contrasena" is-password="true" ng-required="true" icon="key"></b-input>
                    (La contraseña debe tener un mínimo de 8 carácteres)
                    <button md-effect class="btn btn-success btn-lg btn-block mt-4" type="submit" ng-disabled ="!$ctrl.usuario.email && !$ctrl.usuario.contrasena" ng-click="$ctrl.actualizarContrasena()" >
                      <i class="fa fa-sign-in"></i> Activar cuenta
                    </button>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-md-3"></div>
          </div>
        </div>
      </div>

    </div>
</div>
